/arquitectura/odoo13/clientes/cliente1/respaldo_db/*
/arquitectura/odoo14/clientes/cliente1/respaldo_db/*
/arquitectura/odoo15/clientes/cliente1/respaldo_db/*
/arquitectura/odoo16/clientes/cliente1/respaldo_db/*
/arquitectura/odoo17/clientes/cliente1/respaldo_db/*
/arquitectura/odoo18/clientes/cliente1/respaldo_db/*
/arquitectura/odoo18/clientes/pana/respaldo_db/*
/arquitectura/odoo13/clientes/cliente1/data/*
/arquitectura/odoo14/clientes/cliente1/data/*
/arquitectura/odoo15/clientes/cliente1/data/*
/arquitectura/odoo16/clientes/cliente1/data/*
/arquitectura/odoo17/clientes/cliente1/data/*
/arquitectura/odoo18/clientes/cliente1/data/*
/arquitectura/odoo18/clientes/pana/data/*
/arquitectura/odoo13/clientes/cliente1/respaldo_odoo/*
/arquitectura/odoo14/clientes/cliente1/respaldo_odoo/*
/arquitectura/odoo15/clientes/cliente1/respaldo_odoo/*
/arquitectura/odoo16/clientes/cliente1/respaldo_odoo/*
/arquitectura/odoo17/clientes/cliente1/respaldo_odoo/*
/arquitectura/odoo18/clientes/cliente1/respaldo_odoo/*
/arquitectura/odoo18/clientes/pana/respaldo_odoo/*
/arquitectura/odoo13/.venv
/arquitectura/odoo14/.venv
/arquitectura/odoo15/.venv
/arquitectura/odoo16/.venv
/arquitectura/odoo17/.venv
/arquitectura/odoo18/.venv
/arquitectura/odoo18/.venv
/arquitectura/odoo13/odoo
/arquitectura/odoo14/odoo
/arquitectura/odoo15/odoo
/arquitectura/odoo16/odoo
/arquitectura/odoo17/odoo
/arquitectura/odoo18/odoo
/arquitectura/odoo18/odoo
/arquitectura/odoo18/clientes/panna/respaldo_db

